/* CARD */
.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: var(--bg2);
  border-radius: 15px;
  font-family: 'Syne', sans-serif;
}

.card h3 {
  font-size: 15px;
  font-weight: bold;
  color: var(--text2);
}
.card-body {
  font-size: 30px;
  font-weight: bold;
}

.caption {
  font-size: 14px;
  color: var(--text2);
}

.balance-amount {color: var(--accent);}
.income-amount {color: var(--green);}
.expenses-amount {color: var(--red);}
