/* CARD */
.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: var(--bg2);
  border-radius: 15px;
  font-family: 'Syne', sans-serif;
  transition: all 0.3s ease;
  cursor: default;
}

.card:hover {
  transform: translateY(-5px);
  background-color: var(--bg3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 15px;
  font-weight: bold;
  color: var(--text2);
}
.card-body {
  font-size: 30px;
  font-weight: bold;
}

.caption {
  font-size: 14px;
  color: var(--text2);
}

.balance-amount {color: var(--accent);}
.income-amount {color: var(--green);}
.expenses-amount {color: var(--red);}
