.dashboard{
    margin: 30px 40px;
    flex: 1;
}

.dashboard-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-heading{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
}

.left-heading p{
    font-size: 15px;
    padding-bottom: 4.5px;
}

.right-heading{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
    font-size: 14px;
    padding-bottom: 4.5px;
}

.right-heading button{
    width: 140px;
    height: 37px;
    border-radius: 10px;
}

.month {
    background-color: var(--bg4);
    color: var(--text);
    border: 0.5px solid var(--text);
}

.add-transaction {
    background-color: var(--accent);
    color: white;
    border: 0.5px solid var(--bg4);
}


