.dashboard{
    margin: 30px 40px;
    flex: 1;
}

.dashboard-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.left-heading{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
}

.left-heading p{
    font-size: 15px;
    padding-bottom: 4.5px;
}

.right-heading{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
    font-size: 14px;
    padding-bottom: 4.5px;
}

.dashboard-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    height: auto;
    grid-row-gap: 20px;
      grid-column-gap: 15px;
}