.dashboard{
    margin: 30px 40px;
    flex: 1;
}

.dashboard-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.left-heading{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
}

.left-heading p{
    font-size: 15px;
    padding-bottom: 4.5px;
}

.right-heading{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
    font-size: 14px;
    padding-bottom: 4.5px;
}

.dashboard-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,minmax(100px, auto));
    grid-row-gap: 25px;
    grid-column-gap: 20px;
}

/* TRANSACTION CARD */
.transaction{
    grid-column: 1/3;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    background-color: var(--bg2);
    border-radius: 15px;;
}

.recentTransaction-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transaction h2{   
    font-size: 18px;
    padding:18px 20px;
}

hr{
    border: none;
    border-top: 2px solid var(--bg4);
    margin-bottom:0;
}

.transaction p {
    padding: 20px 20px;
    border-radius: 10px;
}

.transaction-inputs{
    margin: 15px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.transaction-inputs:hover{
    background-color: var(--bg3);
}

.label-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

.transact-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}
.transact-label p {
    padding: 0px;
    font-weight: 600;
    align-items: center;
}

.label { font-size: 14px;}
.date{font-size: 10px; color: var(--text2);}

.amount { 
    color: red; 
    font-family: var(--font-head);
    font-size: 15px;
}

/* SPENDING CATEGORY CARD */
.spending-category{
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: var(--bg2);
    border-radius: 15px;;
}

.spending-category h2{   
    font-size: 18px;
    padding:18px 20px;
}

/* BUDGET STATUS CARD */
.spending-insights{
    grid-column: 1/4;
    grid-row: 4/6;
    background-color: var(--bg2);
    border-radius: 15px;;
}

.spending-insights h2{   
    font-size: 18px;
    padding:18px 20px;
}

.logout-btn {
    width: calc(100% - 40px);
    margin: 10px 20px 20px 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--bg4);
    border-radius: 8px;
    color: #9896b0;
    cursor: pointer;
    font-size: 13px;
}

.logout-btn:hover {
    background-color: #1a1a24;
    color: #ff5f7e;
    transition: 0.1s ease-in-out;
}

.month-select {
    height: 37px;
    background-color: var(--bg4);
    color: var(--text);
    border: 0.5px solid var(--text);
    border-radius: 10px;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
}

.month-select:focus {
    outline: none;
    border: 1px solid var(--accent);
}